.handPiece {
	color: #ff5f5f;
	-webkit-text-stroke-color: black;
}

.highlightedSquare {
	background-image: radial-gradient(#f7bfbf 20%, #00000000);
	border-color: black;
}

@keyframes highlightedPulse {
	from {background-color: #ff5f5f;}
	to {background-color: #f7bfbf;}
}

.log::-webkit-scrollbar-thumb:hover {
	background-color: #ff5f5f;
}

.button:hover {
	background-color: #ff5f5f;
}