body {
    background-color: #3f1f1f;
}

.hand {
	background-color: #ef7f7f;
	border-color: black;
}

.board {
	background-color: #f7bfbf;
	border-color: black;
}

.square {
	background-image: radial-gradient(#f7bfbf 50%, #00000000);
	border-color: black;
}

@keyframes squarePulse {
	from {background-color: #ef7f7f;}
	to {background-color: #f7bfbf;}
}

.log {
	border-color: black;
	background-color: #efbfbf;
}

.log::-webkit-scrollbar-track {
	background-color: #efbfbf;
}

.log::-webkit-scrollbar-thumb {
	background-color: #ef7f7f;
}

.button {
	border-color: black;
	background-color: #ef7f7f;
}

#ask-promotion-overlay, #game-end-overlay {
	background-color: #0000007f;
}