.row {
	width: 612px;
	min-width: 612px;
	max-width: 612px;
	margin: 0 auto;
}

.hand {
	width: 448px;
	min-width: 448px;
	max-width: 448px;
	height: 64px;
	min-height: 64px;
	max-height: 64px;
	border-style: solid;
	border-width: 2px;
	/* border-color: rgb(47, 47, 47); */
	margin: 0 auto;
}

.handPiece {
	width: 64px;
	min-width: 64px;
	max-width: 64px;
	height: 64px;
	min-height: 64px;
	max-height: 64px;
	border: none;
	margin: 0 auto;
	float: left;
	font-size: 32px;
	font-family: Arial;
	font-weight: 600;
	-webkit-text-stroke-width: 2px;
	text-indent: 5px;
}

.board {
	width: 612px;
	min-width: 612px;
	max-width: 612px;
	height: 612px;
	min-height: 612px;
	max-height: 612px;
	border-style: solid;
	border-width: 2px;
	/* border-color: rgb(47, 47, 47); */
	margin: 0 auto;
}

.black-piece, .white-piece {
	width: 64px;
	height: 64px;
}

.white-piece {
	transform: rotate(180deg);
}

.square, .highlightedSquare {
	border-style: solid;
	border-width: 2px;
	/* border-color: rgb(47, 47, 47); */
	height: 64px;
	width: 64px;
	float: left;
	transition: background-color .2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.square {
	animation-name: squarePulse;
	animation-duration: 1.5s;
}

.highlightedSquare {
	animation-name: highlightedPulse;
	animation-duration: 0.5s;
}

.log {
	width: 190px;
	height: 666px;
	overflow: scroll;
	overflow-x: hidden;
	border-style: solid;
	border-width: 2px;
	/* border-color: rgb(47, 47, 47); */
	font-family: Arial;
	padding: 5px;
}

.log::-webkit-scrollbar {
	width: 10px;
}

.log::-webkit-scrollbar-thumb {
	transition: background-color .2s;
}

.button {
	width: 200px;
	height: 32px;
	border-style: solid;
	border-width: 2px;
	/* border-color: rgb(47, 47, 47); */
	font-family: Arial;
	text-align: center;
	padding: auto;
	font-weight: 600;
	font-size: 24px;
	transition: background-color .2s;
}

#ask-promotion-overlay, #game-end-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

#ask-promotion-overlay {
	display: none;
}

#game-end-overlay {
	display: block;
}